<div class="content-wrap" id="gatesdiv">
    <div class="content-title">
        <strong>网关查询</strong>
    </div>
    <div class="content-main ">
        <div class="tab-content tabContent mar-top20">
            <form role="form" class="form-inline mar-bottom30">
                <div class="form-group">
                    <label class="col-sm-1 control-label">GameID：</label>
                    <select id="" class="form-control font-bold" data-bind="options:gameid,optionsText:'name',optionsValue:'id',value:selectedGame"></select>
                </div>
                <div class="form-group mar-left20">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info" id="dataMath" data-bind="click:searchgates">查询</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="content-title">
        <strong>当前网关</strong>
    </div>
    <div class="content-main">
        <div class="tab-content tabContent mar-top20">
            <!-- table -->
            <table class="table table-condensed table-bordered table-style" id="gatesTable">
                <thead>
                    <tr>
                        <th>名字</th>
                        <th>地址</th>
                        <th>活跃连接</th>
                        <th>服务</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:dataList">
                    <tr>
                        <td data-bind="text:name"></td>
                        <td data-bind="text:value"></td>
                        <td data-bind="text:count"></td>
                        <td data-bind="text:svr"></td>
                        <td ></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/views/static/js/pages/gates.js"></script>