body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin:0; 
	padding:0;
}

body{
	font-size: inherit;
}

td,th,caption { 
	font-size:12px; 
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	font-size:100%;
}

address, caption, cite, code, dfn, em, strong, th, var { 
	font-style:normal; 
	font-weight:normal;
}

a {outline:none;blr:expression(this.onFocus=this.blur());
	color:#555; 
	text-decoration:none; 
}

a:hover { 
	text-decoration:none;
}

img { 
	border:none; 
}

ol,ul,li {
	list-style:none;
}

input, textarea, select, button { 
	font:12px Verdana,Helvetica,Arial,sans-serif; 
	outline: none;
}

table { 
	border-collapse:collapse; 
}

html {
	overflow-y: scroll;
} 

button{
	outline: 0 ;
	text-shadow: none;
}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.fl{
	float: left;
}

.fr{
	float: right;
}

.font-red{
	color: red;
}

.font-green{
	color: #639b4e;
}

.center{
	text-align: center;
}

.hide{
	display: none;
}

.gray{
	color:#999999!important;
}
.mar-center{
	margin: 0 auto;
}
.mar-bottom5{
	margin-bottom: 5px !important;
}

.mar-bottom30{
	margin-bottom: 30px;
}

.mar-left20{
	margin-left: 20px;
}
.mar-left537{
	margin-left: 537px;
}
.mar-right10{
	margin-right: 10px;
}

.mar-left10{
	margin-left: 10px;
}
.mar-right5{
	margin-right: 5px;
}

.mar-left5{
	margin-left: 5px;
}
.mar-top20{
	margin-top:20px !important;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.width35{
	width: 35px !important;
}

.width50{
	width: 50px !important;
}

.width95{
	width: 95px !important;
}

.width165{
	width: 165px !important;
}

.font-bold{
	font-weight: bolder;
}
